opencv-python==4.8.0.74
imageio 
path.py 
tensorboardX 
fast_slic 
scikit-image 
scikit-learn

Cython 
matplotlib 
pyyaml 
scipy
tqdm 
PyOpenGL
PyOpenGL-accelerate
pytorch-msssim

tensorboard
pandas
imageio[pyav]
